<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <main>
      <h1 class="text">To access a specific group you need to know the group title</h1>

      <div class="search-form-container">
        <h1 class="error-message"><%= error %></h1>
        <h3>Find a secret message</h3>
        <form class="search-form" action="/search" method="post">
          <input type="text" name="search" id="search" autocomplete="off" />
          <button type="submit">Check group</button>
        </form>
      </div>
    </main>
  </body>

  <script></script>
</html>
