<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <main>
      <div class="index-container">
        <div class="index-text">
          <h1>Welcome!</h1>
          <p>You can send secret messages on this site</p>
          <p>First you need to register on the site and log in, after that you can create a secret post. To find a secret message you need to know the title of the message.</p>
          <p>I created a secret message with the title "Welcome" you can try to find it if you want. Remember that search menu is case sensitive "</p>
        </div>
      </div>
    </main>
  </body>
</html>
