* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, rgb(29, 28, 28), #393264);
}

nav {
  color: rgb(7, 7, 7);
  background: white;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}
.logo span {
  font-size: 2.5rem;
}
.logo a {
  font-size: 1.4rem;
  letter-spacing: 4px;
  color: rgb(5, 5, 5);
  text-decoration: none;
}

.nav-toggle {
  cursor: pointer;
}

.nav-toggle:active {
  background: yellow;
}
.nav-toggle div {
  width: 20px;
  height: 4px;
  margin: 5px;
  background: rgb(8, 8, 8);
}
.links a {
  color: rgb(8, 8, 8);
  font-size: 1.5rem;
  text-transform: capitalize;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
}

.links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
  list-style: none;
}

.show-links {
  height: 40rem;
}
/* 
            /////////////////////////////////////
            /////// Registered user icon! //////
            ///////////////////////////////////
        */
.user-information {
  position: relative;
  display: inline-block;
}

.user-information button {
  background: transparent;
  font-size: 1.6rem;
  border: transparent;
  cursor: pointer;
  margin: 0 0 10px 20px;
}

.hide {
  opacity: 0;
}

.information {
  background: rgb(253, 251, 251);
  min-width: 200px;
  position: absolute;
  transition: all 0.4s ease;
  z-index: 1;
  height: 0;
  transition: all 0.3s linear;
}

.test {
  height: 300px;
}

.information ul li {
  padding: 12px 16px;
  display: block;
}
.information ul li a {
  font-size: 1rem;
  padding: 0rem;
}

/* 
/////////////////////////////////////////
//////// Login and register page ///////
///////////////////////////////////////
*/
.form-text {
  color: white;
  text-align: center;
  margin: 30px 0;
}
.form-section {
  color: rgb(8, 8, 8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 90%;

  margin: 0 auto;
  background-color: rgb(245, 242, 237);
  border-radius: 10px;
}
.form-section form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.form-section form button {
  cursor: pointer;
  background: rgb(68, 68, 68);
  color: white;
  border-radius: 3px;
  text-align: center;
  margin-top: 5px;
  padding: 0.5rem;
}
/* 
/////////////////////////////////////////
////////      Home page ///////////////
///////////////////////////////////////
*/

.error-message {
  color: red;
  margin-bottom: 30px;
}
.text {
  text-align: center;
  margin-top: 30px;
  color: white;
}
.post-page {
  text-align: center;
  margin-top: 5%;
}

.posts-container {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  width: 60%;
  margin: 10px auto 150px;
}
.single-post {
  color: white;
  border-radius: 10px;
  margin: 5px;
  height: 200px;
}

.name-date {
  width: 100%;
  background-color: rgb(49, 49, 47);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.post {
  text-align: left;
  background-color: rgb(245, 242, 237);
  color: black;

  padding: 1rem;
}
.post p {
  margin: 10px 0;
  width: 80%;
}
.post a {
  text-decoration: none;
}

/* 
///////////////////////////
//// createpost page /////
//////////////////////////
*/
.create-content {
  text-align: center;
  width: 90%;
  margin: 20px auto;
  color: white;
  font-size: 2rem;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(245, 242, 237);
  border-radius: 10px;
  width: 90%;
  padding: 3rem 1rem;
}
.form-container form textarea {
  width: 96%;
}

.form-container form button {
  margin-top: 10px;
  color: white;
  background-color: rgb(54, 54, 54);
  padding: 0.5rem;
}

/* 
///////////////////////////
//// postdetails page /////
//////////////////////////
*/
.details-main {
  margin-top: 10%;
}
.details {
  margin: 0 auto;
  width: 99%;
  background-color: antiquewhite;
}
.update-delete {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.creater-info {
  font-size: 1rem;
}
.update-delete a {
  margin: 1px;
}

.update {
  cursor: pointer;
  background: rgb(68, 68, 68);
  color: white;
  border-radius: 3px;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
}
.delete-post {
  cursor: pointer;
  background: rgb(68, 68, 68);
  color: white;
  border-radius: 3px;
  text-align: center;
  padding: 0.5rem;
}
@media screen and (min-width: 785px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }

  .links {
    height: auto;
    display: flex;
  }
  /* 
    /////////////////////////////////////
    /////// Registered user icon! //////
    ///////////////////////////////////
    */
  .user-information {
    position: absolute;
    display: inline-block;
  }

  .user-information button {
    background: transparent;
    font-size: 1.6rem;
    border: transparent;
    cursor: pointer;

    padding: 0.6rem;
  }

  .hide {
    display: none;
  }

  .information {
    background: rgb(253, 251, 251);
    min-width: 200px;
    position: absolute;
    transition: all 0.4s ease;
    height: 0;
    transition: all 0.3s linear;
  }

  .information ul li a {
    font-size: 1rem;
    padding: 0rem;
  }
  .test {
    height: 300px;
  }

  .information ul {
    margin-top: 30px;
  }

  .information ul li {
    padding: 12px 16px;
    display: block;
  }

  /* 
  /////////////////////////////////////////
  ////////      Home page ///////////////
  ///////////////////////////////////////
  */
  .posts-container {
    grid-template-columns: 30% 30% 30%;

    width: 60%;
  }

  /* 
  /////////////////////////////////////////
  ////////  login and registe page ///////////////
  ///////////////////////////////////////
  */
  .form-section {
    width: 50%;
  }

  /* 
  /////////////////////////////////////////
  ////////  details page ///////////////
  ///////////////////////////////////////
  */
  .details {
    width: 60%;
  }
  .creater-info {
    font-size: 1.5rem;
  }
}
